html, body, ul, li, h1, figure, p,
ol, section, h2, label, aside, form, input,
option, textarea, figcaption, header, footer, br,
b, select, img, a, link, title, head {

  margin: 0;
  padding: 0;
  border: 0;

  font: inherit;
  font-size: 100%;
  text-align: inherit;
  text-decoration: inherit;
  color: inherit;
  vertical-align: baseline;ßß

  background: transparent;
}

body {
  line-height: 1.5;
}

input[type='radio'], select, input[type='submit']{
  cursor: pointer;
  outline: none;
}
