body {
  font-family: Arial, sans-serif;
  background-color: #F4A460;
}

h1{
  font-size: 38px;
}

h2{
  font-size: 32px;
}

header > img {
  width: 100px;
}

ul li a {
  text-decoration: none;
  color: inherit;
}

.ingredients-list {
  list-style: square inside;
}
.direction {
  list-style: lower-roman;
  background-color: #D3D3D3;
}

.image {
  border: 2px solid;
  border-radius: 25px;
}

input:last-child {
  background-color: gold;
}

h2 + .user_review {
  border-top: 1px solid black;
}

input[type="radio"] {
    -webkit-appearance: none;
    width: 27px;
    height: 27px;
    background-image: url(../assets/stars.png);
    vertical-align: bottom;
}
